body{
    background: blueviolet;
    text-align: center;
    font: normal 18pt Arial;
    color: white;
}

footer{
    font: italic 12pt Arial;
    padding-top: 25px;
}

section{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(226, 213, 213);
    color: black;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    height: 500px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.418);
}

header{
    font: normal 40pt Arial;
}
img {
    width: 300px;
    height: 300px;
}
div {
    font-size: 12pt;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.margin {
    background-color: blueviolet;
    color: white;
    padding-top: 15px;
    text-align: center;
}
.sub-title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;;
}
#res {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
