body{
    background-color: blueviolet;
    text-align: center;
    font: normal 18pt Arial;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

footer{
    font: italic 12pt Arial;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

section{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(226, 213, 213);
    color: black;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    height: 500px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.418);
}

header{
    font: normal 40pt Arial;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#enun {
    font-size: 12pt;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#sel {
    text-align: justify;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#num {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#ad {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#fin {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
select{
    width: 250px;
}