body {
    background-color: blueviolet;
    text-align: center;
    font: normal 18pt Lucida;
    color: white;
}

footer {
    font: italic 12pt;
    text-align: center;
    padding-top: 40px;
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

section {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(226, 213, 213);
    color: black;
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    height: 500px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.418);
}

header {
    font: normal 25pt;
    text-align: center;
}
.margin {
    color: white;
    padding-top: 15px;
}
.title-sub {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#img {
    padding-top: 15px;
    width: 350px;
    height: 350px;
}
#msg {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16pt;
}